# Global ignores
.git
.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache
**/.pytest_cache
**/.coverage
**/node_modules
**/.next
**/out
**/.env*
**/.vercel
**/*.tsbuildinfo
**/.pnpm-store
**/.DS_Store
**/*.log

# Local virtualenvs
.venv
server/.venv
server/env
server/venv

# Downloads directory
server/downloads
